.text-area {
    -fx-background-color: black;
    -fx-padding: 5px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-border-insets: 20;
	-fx-border-width: 3;
	-fx-border-color: red;
	-fx-border-radius: 20 0 0 0;
	-fx-pref-height: 80%;
	-fx-font-size: 10px;
}

.text-area:hover {
	-fx-text-fill: #891ba9;
	-fx-scale-x: 1.25;
	-fx-scale-y: 1.25; 
}

VBox {
	-fx-background-color: #ecf381;
	-fx-pref-height: 100%;
}

#coche1 {
	-fx-scale-x: 1.10px;
	-fx-scale-y: 1.10px;
}

#coche2 {
	-fx-scale-x: 1.10px;
	-fx-scale-y: 1.10px;
}

#coche3 {
	-fx-scale-x: 1.10px;
	-fx-scale-y: 1.10px;
}

#coche1:hover {
	-fx-scale-x: 1.25px;
	-fx-scale-y: 1.25px;
}

#coche2:hover {
	-fx-scale-x: 1.25px;
	-fx-scale-y: 1.25px;
}

#coche3:hover {
	-fx-scale-x: 1.25px;
	-fx-scale-y: 1.25px;
}