/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property D6D6D6 d6d6d6 */
.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
}

.default-color0.chart-bar {
	-fx-background-color: #1B4F72;
}

.default-color1.chart-bar {
	-fx-background-color: #21618C;
}

.default-color2.chart-bar {
	-fx-background-color: #2874A6;
}

.default-color3.chart-bar {
	-fx-background-color: #2E86C1;
}

.default-color4.chart-bar {
    -fx-background-color: #3498DB;
}



.chart-legend {
   -fx-background-color: #B7E1FD;
   -fx-stroke: #69BDF6;
}